@model GroupProject_HRM_Library.DTOs.LeaveLog.LeaveLogManagerRequest
@{
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
    ViewData["Title"] = "Create Leave Log";
}

<div>
    <h3>Create Leave Log</h3>
    <hr />
</div>
<form method="post" asp-action="CreateLeaveLog" enctype="multipart/form-data">
    <div class="row">
        <div class="form-group col-8">
            <label class="control-label">Employee: </label>
            <select asp-for="EmployeeID" class="form-control" asp-items="ViewBag.Employees">
                <option value="">--Please Select a Employee--</option>
            </select>
            <span asp-validation-for="EmployeeID" class="text-danger"></span>
        </div>
        <div class="form-group col-4">
            <label class="control-label">Status: </label>
            <select asp-for="LeaveLogStatus" class="form-control" asp-items="ViewBag.LeaveLogStatuses">
                <option value="">--Please Select a Leave Log Status--</option>
            </select>
            <span asp-validation-for="LeaveLogStatus" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-6">
            <label class="control-label">Start Date:</label>
            <input asp-for="StartDate" class="form-control" type="date">
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
        <div class="form-group col-6">
            <label class="control-label">End Date:</label>
            <input asp-for="EndDate" class="form-control" type="date">
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-12">
            <label class="control-label">Reason:</label>
            <textarea style="height: 20vh" rows="5" class="form-control" asp-for="Reason"></textarea>
            <span asp-validation-for="Reason" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-12">
            <label class="control-label">Image Proof:</label>
            <input type="file" class="form-control-file" asp-for="File">
            <span asp-validation-for="File" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group float-right mt-3">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>
<div class="mt-2">
    <a href="/Manager/LeaveLogIndex" class="btn btn-danger">Back to Home Page</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
