@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Home Page";
}
<style>
    html {
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
    }</style>
<title></title>

<div>
    <h3>Employee Management</h3>
    <div class="mt-2">
            <a href="/Admin/CreateEmployee" class="btn btn-info">Create new Employee</a>
        </div>
    <hr />
</div>
<div id="example">
    <div id="employeeGrid"></div>
</div>
<script>
    $(document).ready(function () {
        $("#employeeGrid").kendoGrid({
            dataSource: {
                transport: {
                    read: function (options) {
                        $.ajax({
                            url: "https://localhost:5000/api/Employee",
                            type: "GET",
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader("Authorization", "Bearer " + sessionStorage.getItem('ACCESS_TOKEN'));
                            },
                            success: function (result) {
                                options.success(result);
                            },
                            error: function (result) {
                                options.error(result);
                            }
                        });
                    }
                },
                schema: {
                    data: "data",
                    model: {
                        id: "employeeId",
                        fields: {
                            employeeID: { type: "number" },
                            employeeName: { type: "string" },
                            address: { type: "string" },
                            gender: { type: "string" },
                            phoneNumber: { type: "string" },
                            emailAddress: { type: "string" },
                            birthDate: { type: "date" },
                            userName: { type: "string" },
                            employeeStatus: { type: "number" },
                            roleID: { type: "number" }
                        }
                    }
                },
                pageSize: 20
            },
            height: 550,
            sortable: true,
            filterable: true,
            pageable: {
                refresh: true,
                pageSizes: true,
                buttonCount: 5
            },
            columns: [{
                field: "employeeID",
                title: "ID",
                filterable: { multi: true }
            }, {
                field: "employeeName",
                title: "Full Name",
                filterable: { multi: true },
            },{
                field: "address",
                title: "Address",
                filterable: { multi: true },    
            },{
                field: "gender",
                title: "Gender",
                filterable: { multi: true },
            },{
                field: "phoneNumber",
                title: "Phone",
                filterable: { multi: true },      
            },{
                field: "emailAddress",
                title: "Email",
                filterable: { multi: true },      
            }, {
                field: "birthDate",
                title: "Birth Date",
                filterable: {
                    multi: true
                },
                format: "{0:dd-MM-yyyy}"
            }, {
                field: "userName",
                title: "Username",
                filterable: { multi: true },
            },{
               field: "employeeStatus",
               title: "Status",
               filterable: { multi: true },
               template: function (dataItem) {
                    if (dataItem.employeeStatus == 0) return "InActive";
                    if (dataItem.employeeStatus == 1) return "Active";
                    return "-";
                }
            },
            {
                field: "roleID",
                title: "Role",
                filterable: { multi: true },
                template: function (dataItem) {
                    if (dataItem.roleID == 1) return "Employee";
                    if (dataItem.roleID == 2) return "Admin";
                    if (dataItem.roleID == 3) return "Manager";
                    return "-";
                }
            },
            { command: { text: "View Detail", click: showDetails }, title: " ", width: "150" }]
        });
    });

    function showDetails(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        window.location.href = "/Admin/EmployeeDetails?id=" + dataItem.employeeID;
    }
</script>
