@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Home Page";
}
<style>
    html {
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
    }</style>
<title></title>

<div>
    <h3>Project Management</h3>
    <hr />
</div>
<div id="example">
    <div id="incomeGrid"></div>
</div>
<script>
    $(document).ready(function () {
        $("#incomeGrid").kendoGrid({
            dataSource: {
                transport: {
                    read: function (options) {
                        $.ajax({
                            url: "https://localhost:5000/api/Project",
                            type: "GET",
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader("Authorization", "Bearer " + sessionStorage.getItem('ACCESS_TOKEN'));
                            },
                            success: function (result) {
                                options.success(result);
                            },
                            error: function (result) {
                                options.error(result);
                            }
                        });
                    }
                },
                schema: {
                    data: "data",
                    model: {
                        id: "projectID",
                        fields: {
                            projectID: { type: "number" },
                            projectName: { type: "string" },
                            projectStatus: { type: "string" },
                            projectParticipations: { type: "number" },
                            projectBonus: { type: "number" }
                        }
                    }
                },
                pageSize: 20
            },
            height: 550,
            sortable: true,
            filterable: true,
            pageable: {
                refresh: true,
                pageSizes: true,
                buttonCount: 5
            },
            columns: [{
                field: "projectID",
                title: "ID",
                filterable: { multi: true }
            }, {
                field: "projectName",
                title: "Project Name",
                filterable: { multi: true }
            }, {
                field: "projectStatus",
                title: "Status",
                filterable: {
                    multi: true }
            }, {
                field: "projectParticipations",
                title: "Project Participations",
                filterable: { multi: true },
            },
            {
                field: "projectBonus",
                title: "Bonus",
                filterable: { multi: true }
            }]
        });
    });
</script>
